<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="weather__header">
          <form class="weather__search" action="/search-by-city">
              <input type="text" placeholder="Search for a city..." class="weather__searchform">
              <i class="fa-solid fa-magnifying-glass"></i>
          </form> 
          <div class="weather__units">
              <span class="weather_unit_celsius">&#176C</span>
          </div>
      </div>
      <div class="weather__body">
          <h1 class="weather__city"><%= cityName %> </h1>
          <div class="weather__datetime">
            <%= dateTime %>
          </div>
          <div class="weather__forecast">
            <%= weatherStatus %>
          </div>
          <div class="weather__icon">
            <%- icon %>
          </div>
          <p class="weather__temperature">
            <%= temp %> &#176
          </p>
          <div class="weather__minmax">
              <p>Min: <%= minTemp %> &#176</p>
              <p>Max: <%= maxTemp %> &#176</p>
 
          </div>
      </div>

      <div class="weather__info">
          <div class="weather__card">
              <i class="fa-solid fa-temperature-full"></i>
              <div>
                  <p>Real Feel</p>
                  <p class="weather__realfeel">
                    <%= feelsLike %> &#176
                  </p>
              </div>
          </div>
          <div class="weather__card">
              <i class="fa-solid fa-droplet"></i>
              <div>
                  <p>Humidity</p>
                  <p class="weather__humidity">
                    <%= humidity %>g.m<sup>-3</sup>
                  </p>
              </div>
          </div>
          <div class="weather__card">
              <i class="fa-solid fa-wind"></i>
              <div>
                  <p>Wind</p>
                  <p class="weather__wind">
                    <%= windSpeed %>miles/hr
                  </p>
              </div>
          </div>
          <div class="weather__card">
              <i class="fa-solid fa-gauge-high"></i>
              <div>
                  <p>Pressure</p>
                  <p class="weather__pressure">
                    <%= pressure %>pa
                  </p>
              </div>
          </div>
      </div>
  </div>
  </body>
  <script
  src="https://kit.fontawesome.com/a692e1c39f.js"
  crossorigin="anonymous"
  ></script>
  <script src="/script/main.js"></script>
</html>
